<div id="main-container" class="container">
  <h1><%= @dog.name %></h1>


  <img src="<%= @dog.dog_url %>" width="200">
  <br>

  <p> Size <%= @dog.size %></p>

  <p> color <%= @dog.color %></p>

  <p> Breed  <%= @dog.breed %></p>
</div>